.link-color {
	color: #0E9AEF;
	font-weight: 500;
	cursor: pointer;
}

.demo {
	flex: 1;
	box-sizing: border-box;
	margin-left: 15px;
}

.demo:first-child {
	margin-left: 0;
}

pre{
	font-family: "lucida console";
}

.pl-ent {
	color: #22863a;
}

.pl-e,
.pl-en {
	color: #6f42c1;
}

.pl-pds,
.pl-s,
.pl-s .pl-pse .pl-s1,
.pl-sr,
.pl-sr .pl-cce,
.pl-sr .pl-sra,
.pl-sr .pl-sre {
	color: #032f62;
}

.pl-k {
	color: #d73a49;
}

.flex-section {
	display: flex;
}

.flex-box {
	flex: 1;
}

.jstree-pre {
	line-height: 1.1;
}

.tree-example{
	display: inline-block;
}
.tree-example-event{
	margin-left: 20px;
}

label{
	display: inline-block;
	color: #0E76A8;
	vertical-align: top;
}

.html-code{
	border-bottom: 1px dashed #E2E3E3;
}

.tree-attr{
	padding: 10px 0;
}

.tree-attr dl{
	padding-top: 5px;
}

.tree-attr dl dd{
	display: inline-block;
	padding:0px 10px;
	line-height: 30px;
	background: #FFE4B5;
	border-radius: 1px;
	color:#333;
	margin-right: 12px;
	cursor: pointer;
}

.event-using{
	display: inline-block;
	width: 48%;
	box-sizing: border-box;
	vertical-align: top;
}
