body {
	margin: 0;
	font-family: Helvetica Neue, Helvetica, PingFang SC, Tahoma, Arial, sans-serif!important;
	font-size: 14px!important;
	font-weight: normal!important;
	line-height: 1!important;
	color: #212529;
	text-align: left;
	background-color: #fff;
}

a {
	text-decoration: none!important;
}

h3 {
	margin: 0!important;
	padding: 0!important;
	font-size: 1.17em!important;
	font-weight: 600!important;
	line-height: 42px!important;
}

h5 {
	font-weight: 600!important;
	font-size: 14px!important;
	line-height: 42px!important;
}

p {
	margin: 0!important;
}

.layui-side-self {
	background: #2f4050;
	width: 220px!important;
	transition: width 0.5s ease-in-out;
}

.layui-main-self {
	left: 220px!important;
	transition: width 0.5s ease-in-out;
}

.layui-mybg {
	background-color: #142534!important;
}

.layui-footer-bg {
	background: #142534!important;
	color: #FFEBCD;
}

body.mini-sidebar .layui-side-self {
	background: #2f4050;
	width: 64px!important;
	transition: width 0.5s ease-in-out;
}

body.mini-sidebar .layui-main-self {
	left: 64px!important;
	transition: width 0.5s ease-in-out;
}

body.mini-sidebar .mm-collapse {
	display: none;
}

body.mini-sidebar .metismenu li>a {
	text-align: center;
	font-size: 16px;
	border-bottom: 1px solid #293846;
}

body.mini-sidebar .metismenu li>a>span.fa {
	margin-right: 3px;
}

body.mini-sidebar .metismenu li>a>span.nav-label {
	display: none;
}

body.mini-sidebar .metismenu .has-arrow::after {
	display: none;
}


/*右侧aside 导航菜单*/

.sidebar-nav {
	background: #2f4050;
}

.sidebar-nav ul {
	padding: 0;
	margin: 0;
	list-style: none;
	background: #293846;
}

.sidebar-nav .metismenu {
	background: #2f4050;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}

.sidebar-nav .metismenu .mm-collapse li:first-child {
	margin-top: 5px;
}

.sidebar-nav .metismenu li:last-child {
	margin-bottom: 5px;
}

.sidebar-nav .metismenu>li {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
	position: relative;
}

.mm-active::before {
	content: ".";
	position: absolute;
	top: 0;
	left: 0;
	height: 42px;
	width: 4px;
	background: #006621;
}

.sidebar-nav .metismenu a {
	position: relative;
	display: block;
	padding: 13px 15px;
	color: #B6BCBF;
	outline-width: 0;
	font-weight: 500;
	transition: all .3s ease-out;
}

.sidebar-nav .metismenu ul a {
	padding: 10px 15px 10px 30px;
}

.sidebar-nav .metismenu ul ul a {
	padding: 10px 15px 10px 45px;
}

.sidebar-nav .metismenu a:hover,
.sidebar-nav .metismenu a:focus,
.sidebar-nav .metismenu a:active {
	color: #fff;
	text-decoration: none;
	background: #36648B;
}

.sidebar-nav .metismenu-active {
	background: #36648B;
	/*#00B2EE*/
	color: #fff!important;
}

/*主题选项卡*/
.content-head {
	position: relative;
	height: 40px;
	line-height: 40px;
	box-sizing: content-box;
	border-bottom: solid 2px #2f4050;
}

.menu-toggle{
	float:left;
	overflow: hidden;
	
}

.menu-toggle a{
	display: block;
	height: 40px;
	width: 40px;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	background-color: #fafafa;
	cursor: pointer;
	box-sizing: border-box;
	border-right: 1px solid #ddd;
}

.menu-toggle a>i{
	font-size: 14px;
    color: #999;
    line-height: 40px;
}

.content-tabs {
	position: relative;
	height: 40px;
	line-height: 40px;
	float: left;
	width: calc(100% - 40px);
}

/* 主题内容  */
#content-main {
	height: calc(100% - 42px);
	overflow: auto;
	position: relative;
	background: #EBEBED;
}

.layui-card-header{
	box-sizing: content-box;
	border-bottom:1px solid #DFE4ED!important;
}

.my-title {
	padding-top: 5px!important;
}

.layui-card-header h5 {
	display: inline-block;
	margin: 0 0 7px;
	padding: 0;
	text-overflow: ellipsis;
	float: left;
}

.card-tools {
	display: inline-block;
	float: right;
	margin-top: 0;
	position: relative;
	padding: 0
}

.card-tools a {
	cursor: pointer;
	margin-left: 5px;
	color: #c4c4c4!important;
}

.layui-card-body a:hover{
	cursor: pointer;
	color:#0366D6;
}

.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}

.alert {
	padding: 15px;
	margin-bottom: 10px;
	border: 1px solid transparent;
	border-radius: 4px;
}

.border-btm-purple{
	border-bottom: 4px solid #8470FF!important;
}

.border-btm-orange{
	border-bottom: 4px solid #ff6500!important;
}

.border-btm-black{
	border-bottom: 4px solid #142534!important;
}

.border-btm-green{
	border-bottom: 4px solid #228B22!important;
}

.border-btm-yellow{
	border-bottom: 4px solid #FFD700!important;
}


/* 自定义滚动条  */

::-webkit-scrollbar-track {
	background-color: #F5F5F5;
}

::-webkit-scrollbar {
	width: 6px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb {
	background-color: #999;
}

/*通用包装样式*/
.wrapper.wrapper-content {
	padding: 20px
}

/* 通用边距浮动 */
.ptb10 {
	padding-top: 10px!important;
	padding-bottom: 10px!important;
}

.ptb15 {
	padding-top: 15px!important;
	padding-bottom: 15px!important;
}

.prbl15 {
	padding-right: 10px!important;
	padding-bottom: 15px!important;
	padding-left: 10px!important;
}

.prb1015 {
	padding-right: 10px!important;
	padding-bottom: 15px!important;
}

.plb1015 {
	padding-left: 10px!important;
	padding-bottom: 15px!important;
}

.pb15 {
	padding-bottom: 15px!important;
}
.pb10 {
	padding-bottom: 10px!important;
}

.pbt10 {
	padding: 10px 0!important;
}

.pb05 {
	padding-bottom: 5px!important;
}