.highcharts {
	height: 300px;
}

.box-content p {
	line-height: 1.75;
}

.box-content p>a {
	font-style: italic;
	color: #0366D6;
}

.ibox-tools {
	display: inline-block;
	float: right;
	margin-top: 0;
	position: relative;
	padding: 0
}

.ibox-tools a {
	cursor: pointer;
	margin-left: 5px;
	color: #c4c4c4
}