.demo {
	flex: 1;
	box-sizing: border-box;
	margin-left: 15px;
}

.demo:first-child {
	margin-left: 0;
}

.sec-title {
	background: #FAEBCC;
}

.sec-title p {
	line-height: 30px;
}

.sec-content {
	padding: 5px 0 10px 0;
}

.ml10 {
	margin-left: 10px;
}

label {
	display: block!important;
	margin-bottom: 0!important;
}